<div fxLayout="row" fxLayoutAlign="center">
  <mat-card class="centered-card">
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-content>
      <ng-content></ng-content>
    </mat-card-content>
  </mat-card>
</div>


