<h1>New cocktail</h1>
<mat-card>
  <mat-card-content>
    <div class="error" *ngIf="error | async">
      {{ error | async }}
    </div>
    <form [formGroup]="cocktailForm" (ngSubmit)="onSubmit()" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" required matInput/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Recipe</mat-label>
        <textarea
            formControlName="recipe"
            required
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"
        ></textarea>
      </mat-form-field>

      <div formArrayName="ingredients">
        <button
            type="button"
            class="btn__add"
            mat-stroked-button
            (click)="addIng()">
          Add ingredient
        </button>
        <div *ngFor="let ingControl of getIngControls(); let i = index">
          <div [formGroupName]="i">
            <table>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <input placeholder="Ingredient name" formControlName="ingName" required matInput/>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field appearance="outline">
                    <input formControlName="amount" placeholder="Amount" required matInput/>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field appearance="outline">
                    <mat-select formControlName="unit" required>
                      <mat-option value="ml">ml</mat-option>
                      <mat-option value="pcs">pcs</mat-option>
                      <mat-option value="gr">gr</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <div>
                  <button (click)="removeIng(i)" type="button" class="btn__remove">x</button>
                </div>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <app-file-input formControlName="image" ngModel></app-file-input>
      </mat-form-field>
      <div>
        <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="cocktailForm.invalid || (loading | async)"
        >SAVE
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
