<h1>My Cocktails</h1>

<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
    *ngIf="(loading | async) else cocktailsArea"
    mode="indeterminate"
></mat-progress-spinner>

<ng-template #cocktailsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.lt-lg="33%"
        fxFlex="25%"
        *ngFor="let cocktail of cocktails | async"
    >
      <mat-card class="text-center">
        <img
            [src]="cocktail.image | image"
            [alt]="'Photo of ' + cocktail.name"
            mat-card-image
        />
        <mat-card-title>{{ cocktail.name }}</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <a
              [routerLink]="['/cocktails/', cocktail._id]"
              mat-button
          >VIEW DETAILS</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>
