<!--<div>-->
<!--  <h1>Cocktail info:</h1>-->
<!--</div>-->

<!--<div class="error" *ngIf="error | async">-->
<!--  {{ error | async }}-->
<!--</div>-->

<!--<mat-progress-spinner-->
<!--    *ngIf="(loading | async) else cocktailInfoArea"-->
<!--    mode="indeterminate"-->
<!--&gt;</mat-progress-spinner>-->

<!--<ng-template #cocktailInfoArea>-->
<!--  <div fxLayout="row wrap" fxLayoutGap="16px grid">-->
<!--    <div-->
<!--        fxFlex.xs="100%"-->
<!--        fxFlex.sm="50%"-->
<!--        fxFlex.lt-lg="33%"-->
<!--        fxFlex="25%"-->
<!--        *ngIf="(cocktailInfo | async)"-->
<!--    >-->
<!--      <mat-card class="text-center">-->
<!--&lt;!&ndash;        <img&ndash;&gt;-->
<!--&lt;!&ndash;            [src]="cocktail.image | image"&ndash;&gt;-->
<!--&lt;!&ndash;            [alt]="'Photo of ' + cocktail.name"&ndash;&gt;-->
<!--&lt;!&ndash;            mat-card-image&ndash;&gt;-->
<!--&lt;!&ndash;        />&ndash;&gt;-->
<!--        <mat-card-title>{{ cocktailInfo.name }}</mat-card-title>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->
