.sidenav-container
  height: 100%

.sidenav
  width: 200px

.sidenav .mat-toolbar
  background: inherit

.mat-toolbar.mat-primary
  position: sticky
  top: 0
  z-index: 1

.mat-toolbar a
  color: inherit
  text-decoration: none

.content
  padding: 16px

.link
  font-size: 16px
  padding: 8px 15px 0 0

